.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* CSS */
.button-63 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-63:active,
.button-63:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-63 {
    font-size: 24px;
    min-width: 196px;
  }
}
.btn {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  font-size: 60px;
  line-height: 1em;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  transition: 0.2s;
}
.button {
  width: 150px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  font-size: 15px;
  background-color: rgb(103, 103, 103);
  border-radius: 30px;
  transition: 0.2s;
}

.shape {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  font-size: 40px;
  background-color: olive;
  transition: 0.2s;
}

.btn-blue {
  width: 20px;
  height: 20px;
  background-color: blue;
  margin: 5px;
  border: 1px solid white;
}
.btn-red {
  width: 20px;
  height: 20px;
  background-color: red;
  margin: 5px;
  border: 1px solid white;
}
