.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.shape {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  font-size: 60px;
  line-height: 1em;
  background-color:#009b5d;
  border: 1px solid #ffffff;
  transition: 0.2s;
  border-radius: 5px;
  margin: 10px;
}
.button {
  width: 150px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  font-size: 15px;
  background-color: rgb(103, 103, 103);
  border-radius: 30px;
  transition: 0.2s;
}

///normalus mygtukai 
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  } 
}

.btn {
 color:white;
 text-decoration:none;
 padding:5px 10px;
 border-radius:10px;
 font-family: 'Poppins', sans-serif;
 font-size:20px;
}

.btn-green {
   @include button-bg(#2ecc71);
}

.btn-blue {
   @include button-bg(#3498db);
}

.btn-yellow{
   @include button-bg(#f1c40f);
}

.btn-red {
   @include button-bg(#e74c3c);
}

/*Other Stylez*/
.wrap {
  margin:0 auto;
  width:800px;
  text-align:center;
}

h1 {
  font-family: 'Poiret One', cursive;
  font-size:4em;
}
//// state21 uzduotis
.state-21 {
  width: 700px;
  height: 700px;
  background-color: #009b5d;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  div +div {
    border-left: 2px solid #282c34;
  }
  div {
    width: 100%;
    font-size: 20px;
    padding: 20px 20px;
    justify-content: center;
    button {
      width: 100%;
      margin: 0 0 20px 0;
    }
    div {
      padding: 0;
      padding-top: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      border-top: 2px solid #282c34;
      div {
      font-size: 10px;
      width: 50px;
      height: 50px;
      padding: 0;
      margin: 5px;
      background-color: #282c34;
      }
    }
  }
}

//// state22 uzduotis
.substate{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.state-22{
  .box {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      margin-left: 10%;
      justify-content: center;
  }
}

